<%- include('components/header.ejs'); %>
<%- include('components/nav.ejs'); %>
<% if (menssage) { %>
    <%- include('components/alertSucces.ejs', {menssage: menssage}); %>
<% } %>
<main class="w-full h-auto px-8 py-12">
    <h1 class="text-3xl font-medium flex flex-col gap-8">
        <%= title %>
        <ul class="grid grid-cols-4 gap-5">
            <% users.forEach(function(user){ %>
                <%- include('components/cardUsers', {user: user}); %>
            <% }); %>
        </ul>
    </h1>
</main>
<%- include('components/modalAddPosts.ejs'); %>
<%- include('components/modalAddUsers.ejs'); %>
<%- include('components/footer.ejs'); %>